<!DOCTYPE html>
<html>
	
  <%= render 'layouts/htmlhead' %>
  
  <body>
    
    <%= render 'layouts/bodyhead'%>
    
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>